- const title = "Good And Cheap"
- const description = "Web app based on the cookbook by Leanne Brown"
- const themeColor = "#e5001f"

doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover")
    meta(name="theme-color" content=themeColor)
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(rel="preconnect" href="https://api.goodandcheap.app")
    link(rel="preconnect" href="https://assets.goodandcheap.app")
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    link(rel="icon" type="image/svg+xml" href="/favicon.svg")
    link(rel="manifest" href="/pwa/manifest.json")
  body(no-touch)
    div#app
      header.header
        img.wordmark(src="/img/wordmark.png" alt=title)
      noscript.content Please <a href="https://www.enable-javascript.com/" title="How to enable JavaScript in your browser">enable JavaScript</a> to view this app.
      style.
        html,
        body {
          background: #f2f2f2;
          color: #333;
          margin: 0;
          min-height: 100vh;
          padding: 0;
        }
        :root {
          --header-height: 2.75rem;
        }
        @media screen and (min-width: 30rem) {
          :root {
            --header-height: 3.75rem;
          }
        }
        #app {
          display: grid;
          grid-template-rows: auto 1fr;
          font-family: sans-serif;
          min-height: 100vh;
        }
        .header {
          align-items: center;
          background: #{themeColor};
          display: flex;
          height: var(--header-height);
          justify-content: center;
        }
        .wordmark {
          width: 9rem;
        }
        .content {
          align-self: center;
          justify-self: center;
          padding: 1rem;
          text-align: center;
        }
        img {
          height: auto;
          width: 100%;
        }
        a {
          color: #{themeColor};
          font-weight: bold;
        }
        a:hover {
          color: #333;
        }
